<div class='entry' data-uid='<%= entry.uid %>' data-timestamp='<%= entry.timestamp %>' data-hashtags='<%= entry.name %>'>
    <p class='entry-text'><%- entry.text %></p>
    <p class='entry-date'><%= entry.timestamp %></p>
    <p class='entry-menu'>&nbsp;&nbsp;&nbsp;<a class="editentry" href="#">edit</a>&nbsp;&nbsp;&nbsp;<a class="resetentry" href="#">deselect</a></p>
    <div class='separator'>&nbsp;</div>
    <div id='<%= entry.uid %>' class='hidden'></div>
</div>
