

<% if (!perceivername) { %>
    <div id='switcher-selector' class='pure-menu pure-menu-open pure-menu-horizontal' style="background: none;">
        <ul id="statementInputMenu">
            <% if (!addcontext) {%>
                <li>
                    <a id="finds" class="switcher set1">find</a>
                </li>
                <li class="pure-menu-selected-top">
                    <a id="adds" class="switcher set1">edit</a>
                </li>
                <li>
                    <a id="imports" href="/<%= user.name %>/meta_<%= context %>/edit?addcontext=<%= context %>&interpret=1">interpret</a>
                </li>
            <% } else { %>

                <li>
                    <a id="imports" href="/<%= user.name %>/<%= addcontext %>/edit">original</a>
                </li>
                <li class="pure-menu-selected-top">
                    <a id="adds" class="switcher set1">interpret</a>
                </li>
                <li>
                    <a id="finds" href="/<%= user.name %>/<%= context %>/edit">result</a>
                </li>
            <% } %>
        </ul>
        <br>&nbsp;<br>
    </div>
<% } else {  %>
    <div id='switcher-selector' class='pure-menu pure-menu-open pure-menu-horizontal' style="background: none;">
        <ul id="statementInputMenu">
            <li class="pure-menu-selected-top">
                <a href="javascript:">find</a>
            </li>
            <li>
                <a href="edit">edit</a>
            </li>
            <li>
                <a href="/import">import</a>
            </li>

        </ul>
        <br>&nbsp;<br>
    </div>

<% }  %>

<!-- TODO: remove absolute position from the tooltips below and render them inside the header div -->

<%- include('../../../common/tooltip', {title:"hide this pane and all text", id:"graph-link"}); %>
<%- include('../../../common/tooltip', {title:"minimize window", id:"windowdown-link"}); %>

<script>

function findsButton() {
    return {
        onClick: function(onClick){
            $('#finds').on('click', onClick)
        }
    }
}

function editButton() {
    return {
        onClick: function(onClick){
            $('#adds').on('click', onClick)
        }
    }
}

</script>