

<% if (!perceivername) { %>
    <div class='pure-menu pure-menu-open pure-menu-horizontal' style="background: none;">
        <ul class="statementInputMenu">
            <% if (!addcontext) {%>
                <li>
                    <a id="finds">find</a>
                </li>
                <li class="pure-menu-selected-top">
                    <a id="adds">edit</a>
                </li>
                <li>
                    <a id="interpret">interpret</a>
                </li>
            <% } else { %>

                <li>
                    <a id="original" href="/<%= user.name %>/<%= addcontext %>/edit">original</a>
                </li>
                <li class="pure-menu-selected-top">
                    <a id="adds">interpret</a>
                </li>
                <li>
                    <a id="finds" href="/<%= user.name %>/<%= context %>/edit">result</a>
                </li>
            <% } %>
        </ul>
        <br>&nbsp;<br>
    </div>
<% } else {  %>
    <div class='pure-menu pure-menu-open pure-menu-horizontal' style="background: none;">
        <ul class="statementInputMenu">
            <li class="pure-menu-selected-top">
                <a href="javascript:">find</a>
            </li>
            <li>
                <a href="edit">edit</a>
            </li>
            <li>
                <a href="/import">import</a>
            </li>

        </ul>
        <br>&nbsp;<br>
    </div>

<% }  %>

<!-- TODO: remove absolute position from the tooltips below and render them inside the header div -->

<%- include('../../../common/tooltip', {title:"hide this pane and all text", id:"graph-link"}); %>
<%- include('../../../common/tooltip', {title:"minimize window", id:"windowdown-link"}); %>

<script>

function findsButton() {
    return {
        onClick: function(onClick){
            $('#finds').on('click', onClick)
        }
    }
}

function editButton() {
    return {
        onClick: function(onClick){
            $('#adds').on('click', onClick)
        }
    }
}

function interpretButton() {
    return {
        onClick: function(onClick){
            $('#interpret').on('click', onClick)
        }
    }
}

function minimizeButton() {
    return {
        onClick: function(onClick){
            $('#windowdown-link').on('click', onClick)
        }
    }
}

function statementMenu() {
    return {
        switch: function(element){
            $('.statementInputMenu').each(function() {
                $("li", this).each(function() {
                    const currentId = $(this).find('a').attr('id');
                    const currentText = $(this).find('a').text();
                    $(this).removeClass('pure-menu-selected-top');
                    if (currentId == element || currentText == element) {
                        $(this).addClass('pure-menu-selected-top');
                    }
                });
            });
        }
    }
}

</script>