<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.textcomplete.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />



</head>
<body>
<% include statsabove %>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <% include menu %>




    <div id='content'>

        <div id='welcomemessage'>
            Welcome to InfraNodus, <%= user.name %>. Using this platform you can visualize any text as a network graph. Try out our apps to see how it works:

        </div>

        <div id='maincontent'>
          <!-- TODO: add Apps to the menu -->
          <a href="/<%= user.name %>/edit" id="newlist"><div class="appbox">Create a new context and visualise the text inside.</div></a>
          <a href="/<%= user.name %>/edit"><div class="appbox">See all your existing contexts and ideas.</div></a>
          <a href="/importrss"><div class="appbox">Visualize the News of the Day (or any RSS feed)</div></a>
          <a href="/youtube"><div class="appbox">Visualize YouTube videos</div></a>
          <a href="/twitter?fornode=dataviz&context=twitter" id="twitter"><div class="appbox">What’s tweeted about #dataviz right now.</div></a>
          <a href="/<%= user.name %>/edit" id="tldr"><div class="appbox">TL;DR — get an overview of any long text!</div></a>
          <a href="/google?fornode=text+visualization&context=google" id="google"><div class="appbox">What Google shows for “SEO” term.</div></a>
          <a href="/<%= user.name %>/edit" id="speech"><div class="appbox">Dictaphone: speech to network. </div></a>
          <a href="/importurl"><div class="appbox">Visualize any Web Page</div></a>
          <a href="/import"><div class="appbox">Check out advanced Import options</div></a>

          <div class="teaser">
            <br>
            Follow our interactive tutorial to start creating your own graphs:
          </div>
          <a href="/<%= user.name %>/edit" id="start" class="bigbutton">Start Step-by-Step Tutorial</a>

          <div class="teaser">
            <br>
            You are also welcome to take our <a href="http://noduslabs.com/courses/text-network-analysis-for-cognitive-stimulation/">free online course of Text Network Analysis</a>, <a href="/#tutorials" target="_blank">watch video tutorials</a>, read the <a href="http://noduslabs.com/category/tutorials/" target="_blank">case studies</a> and
            post your questions, problems, and feature requests on <a href="https://github.com/noduslabs/infranodus/issues" target="_blank">GitHub</a> or using #infranodus on Twitter.
            <br>&nbsp;<br>&nbsp;<br>
          &nbsp;
            <br>&nbsp;<br>&nbsp;<br>
          </div>

        </div>

        <div id="graph-container"></div>


    </div>




</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/string.min.js"></script>
<script src="/javascripts/underscore-min.js"></script>
<script src="/javascripts/jquery.textcomplete.js"></script>
<script src='/javascripts/jquery.autosize.js'></script>
<script src="/javascripts/ui.js"></script>
<script src="/javascripts/jquery.mobile-events.min.js"></script>


<script>
    ;(function(){

        var cleared_to_submit = 0;

        $('form#submitform').submit(function(event){

            if(cleared_to_submit){
                cleared_to_submit = 0;
                return;

            }else{

                event.preventDefault();

                $(this).find('input[type=submit]').attr('disabled', 'disabled');

                if ($("#extractfilter").prop("checked")) {
                    var current_query = $("#search").val();
                    $("#go_next_add").val(current_query);
                }

                cleared_to_submit = 1;

                $('form')[0].submit();  //resubmit form

            }

        });

      var newcontextlong = new Date().toISOString().slice(2,16).replace(/-/g,"").replace(/:/g,"");
      var newcontextshort = new Date().toISOString().slice(2,10).replace(/-/g,"");

      document.getElementById("twitter").href += newcontextshort;
      document.getElementById("google").href += newcontextshort;
      document.getElementById("newlist").href = "/<%= user.name %>/" + newcontextlong + "/edit?walkthrough=newcontext&newcontextname=" + newcontextlong;
      document.getElementById("speech").href = "/<%= user.name %>/" + newcontextlong + "/edit?speech=1&walkthrough=mic";
      document.getElementById("tldr").href = "/<%= user.name %>/tldr" + new Date().toISOString().slice(2,10).replace(/-/g,"").replace(/:/g,"") + "/edit?walkthrough=tldr";
      document.getElementById("start").href = "/<%= user.name %>/" + newcontextlong + "/edit?walkthrough=default";

      $("#addNewContext").on('tap', function(e) {

          $("#addcontextinput").css("visibility", "visible");
          $("#add").css("visibility", "visible");
          $("#addcontextname").focus();


      });

      $('#addcontextinput').submit(function(e) {
          e.preventDefault(); // to stop the form from submitting
          if ($('#addcontextname').val().length > 0) {
              var contextredirect = $('#addcontextname').val();
              contextredirect = contextredirect.replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"");
              contextredirect = contextredirect.replace(/[^\w]/gi, '');
              window.location.href = "/<%= user.name %>/" + contextredirect + '/edit';
          }

      });


    })();
</script>




<% include statsbelow %>
</body>
</html>
