<!DOCTYPE html>
<html>
<%- include('components/entries/header') %>
<%- include('dependencies/entries') %>
<%- include('components/entries/index') %>
<body>
<% include statsabove %>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link editorpane">
    <!-- Hamburger icon -->
    <span></span>
    </a>
     <div id="menu">
        <div class="pure-menu pure-menu-open">

        <% if (locals.user || perceivername) { %>

            <% if (perceivername) { %>
            <a class="pure-menu-heading" href="/<%= perceivername %>"><%= perceivername %></a>
            <% } else { %>
            <a class="pure-menu-heading" href="/apps"><%= user.name %></a>
            <% } %>
                <br>
                <ul id="contexts" class="contexts">

                </ul>
            &nbsp;<br><br>

        <% } else { %>

            <%- include('components/common/menu', {contextlist:contextlist}); %>

        <% } %>

        <%- include('components/entries/ContextMenu') %>

        </div>
   </div>
     <div id='content'>

          <%- include('components/entries/StatementMenu'); %>
                     
          <%- include('components/entries/StatementSidePanel/index',
                {entries, perceivername, addcontext, context, contextpublic, url, urltitle}); %>

          <%- include('components/entries/Graph/GraphCanvas'); %>

          <%- include('components/entries/Graph/GraphTags') %>

          <%- include('components/entries/Graph/GlobalSearch') %>

          <%- include('components/entries/Graph/GraphMenu') %>

          <%- include('components/entries/Analytics/Polysingularity'); %>   

          <%- include('components/entries/VoiceInput/VoiceInputLiveText'); %>

          <%- include('components/entries/Analytics/AnalyticsPane'); %>

      </div>

</div>

<%- include('components/entries/Graph/Graph') %>
<%- include('components/entries/Analytics/PolysingularityLogic') %>
<%- include('components/entries/Graph/GraphTagsLogic') %>
<%- include('components/entries/Graph/GlobalSearchLogic') %>
<%- include('components/entries/Graph/GraphMenuLogic') %>
<%- include('components/entries/Graph/Walkthrough') %>
<%- include('components/entries/MidiController') %>
<%- include('components/entries/VoiceInput/VoiceInputController') %>
<%- include('components/entries/Binders') %>

<% include statsbelow %>

</body>
</html>
